/* Start Variables */
:root {
    --main-color: #10cab7;
    --sec-color: #2c4755;
    --section-padding: 60px;
    --bck-color: #f6f6f6;
    --main-duration: 0.5s;
}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 910px;
    }
}

/* Large */
@media (min-width: 1250px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Component */
.special-heading {
    text-transform: capitalize;
    font-size: 100px;
    text-align: center;
    color: #ebeced;
    letter-spacing: -5px;
    margin-bottom: 0;
    font-weight: 800;
}
.special-heading + p {
    text-align: center;
    color: #777;
    margin-top: -30px;
    font-size: 20px;
}
@media (max-width: 768px) {
    .special-heading {
        font-size: 80px;
    }

    .special-heading+p {
        margin-top: -25px;
    }
}
/* Header */
.header{
    padding: 20px;
}


.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    width: 60px;
}

.header .links{
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
    transform: translateX(100px);
    background-color: transparent;   
}

.header .links:hover .icon span:first-child {
    top: 9px;
    transform: rotate(45deg);
    background-color: red;   
}

.header .links:hover .icon span:last-child {
    top: 9px;
    transform: rotate(-45deg);
    background-color: red;   
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 10px;
}

.header .links .icon span {
    background-color: #333;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    transition: all .5s ease .2s;
    position: absolute;
}
.header .links .icon span:first-child{
    top: 0px;
}
.header .links .icon span:nth-child(2){
    top: 9px;
}
.header .links .icon span:last-child{
    top: 18px;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
}


.header .links ul{
    list-style: none;
    margin: 0px;
    padding: 0;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    background-color: white;
    display: none;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--main-color) transparent;
    position: absolute;
    right: 15px;
    top: -15px;
}

.header .links:hover ul{
    display: block;
}

.header .links ul li a{
    text-decoration: none;
    padding: 15px;
    color: var(--main-color);
    display: block;
    transition: .3s;
}
.header .links ul li:first-child{
    margin-top: 7px;
}

.header .links ul li a:hover{
    padding-left: 25px;
}

.header .links ul li a{
    border-top: solid 1px #333;
}

/* Landing */
.landing {
    background-image: url(../img/landing.jpg);
    background-color: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 380px;
    max-width: 100%;
}

.landing h1 {
    color: var(--main-color);
    font-weight: bold;
font-size: 50px;
}

.landing p {
    font-size: 19px;
}

/* Features */
.features{
    padding: 60px;
    background-color: var(--bck-color);
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px,1fr));
    gap: 20px;
}

.features .container div{
    padding: 20px;
    text-align: center;
}
.features .container i {
    color: var(--main-color);
}

.features .container h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .container p {
    line-height: 1.8;
    font-size: 17px;
    color: #777;
}

/* Services */
.services {
    padding: 60px 0;
}

.services .container-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 100px;
    gap: 30px;
}

.services .container-content .srv {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 768px) {

    .services .container-content .srv {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.services .container-content .srv i {
    color: var(--main-color);
    flex-basis: 70px;
}

.services .container-content .srv .text {
    flex: 1;
}

.services .container-content .srv .text h3 {
    margin: 0 0 20px;
}

.services .container-content .srv .text p {
    color: #777;
    font-weight: 300;
    line-height: 1.8;
}

.services .container-content .col.image {
    text-align: center;
    position: relative;
}

.services .container-content img {
    width: 260px;
}

.services .container-content .col.image::before {
    content: "";
    position: absolute;
    background-color: var(--sec-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}

@media (max-width: 1199px) {
    .services .container-content .col.image {
        display: none;
    }
}


/* Porfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--bck-color);

}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 100px;
}

.portfolio .portfolio-content .card {
    margin-bottom: 60px;
    background-color: white;
    border-radius: 10px;
    max-width: 350px;
    position: relative;
    overflow: hidden;

}

 @media (max-width: 676px) {
    .portfolio .portfolio-content {
        align-items: center;
        justify-content: center;
        grid-template-columns: auto;
    }
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
    border-radius: 10px;
    transition: .5s;
}

.portfolio .portfolio-content .card:hover img {
    border-radius: 10px;
    transform: rotate(3deg) scale(1.1);
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
    position: absolute;
    bottom: -100%;
    transition: .3s;
    background-color: white;
    border-radius: 10px;
}

.portfolio .portfolio-content .card:hover .info {
    bottom: 0;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
    transition: .6s;
}

.portfolio .portfolio-content .card .info p {
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.4;
    color: #777;
    transition: .5s ease .4s;
}


/* About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {
    .about-content .image {
        margin: 0 auto 80px;

    }
}

.about-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-bottom: 80px solid var(--main-color);
    border-left: 80px solid var(--main-color);
    top: -40px;
    right: -150px;
    z-index: -1;
}

@media (max-width: 676px) {

    .about-content .image::before,
    .about-content .image::after {
        display: none;
    }
}

.about-content img {
    max-width: 100%;
}

.about-content .text {
    flex-basis: calc(100% - 500px);
}

.about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about-content .text p:last-of-type {
    line-height: 2;
    margin-bottom: 50px;
    color: #777;
}

/*Contact */
.contact {
    background-color: var(--bck-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info h2 {
    font-size: 35px;
    font-weight: 800;
    color: var(--sec-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info a {
    display: block;
    color: var(--main-color);
    text-decoration: none;
    letter-spacing: 0;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    color: var(--sec-color);
    margin-top: 20px;
    font-size: 16px;
}

.footer{
    background-color: var(--sec-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}